@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-geist-sans: 'Geist Sans', system-ui, sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased transition-colors duration-300;
  }

  .dark body {
    @apply bg-slate-950 text-slate-50;
  }
}